<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
	colors="true"
	bootstrap="../../phpunit.php"
>
	<testsuites>
		<testsuite name="SysInfo system reader">
			<directory>tests/sysinfo/system</directory>
		</testsuite>
		<testsuite name="SysInfo OS reader">
			<directory>tests/sysinfo/os</directory>
		</testsuite>
	</testsuites>
</phpunit>
